.social {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 92vh;
  width: 10%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.social ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.social li {
  list-style: none;
}


.vl {
  border-left: 1px solid black;
  height: 144px;
  
}
