.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: aliceblue;
}

.home .content {
  width: 72%;
}

.hello {
  margin-bottom: 36px;
}

.title {
  margin-top: 12px;
  margin-bottom: 12px;
}
