.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-container img {
  width: 128px;
  height: 64px;
  object-fit: contain;
  margin-left: 12px;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-container li {
  margin-right: 8px;
  padding: 8px 16px;
}

.nav-container li:hover {
  background-color: skyblue;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a:visited {
  color: black;
}

.nav-container a:hover,
a:active {
  color: white;
}
